//color
$main-color: #FED365 !default;
$background: #F5F4F5 !default;
$black: #424242 !default;
$ideal: #85D63E !default;
$under: #30BAF8 !default;
$over: #FE982C !default;
$moderate: #FE6B02 !default;
$severe: #FE1200 !default;
// font
$font-family: sans-serif;
$font-m: 16px !default;
$font-l: $font-m * 1.125;
$font-s: $font-m * 0.875;
// media
$desktop-media: 1000px;
$pad-media: 768px;
$padToPhone-media :$pad-media - 1;
$phone-media: 480px;